@import "../../styles/utils/vars.scss";
@import "../../styles/utils/mixins.scss";

.bread-crumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 16px;
  box-sizing: content-box;

  &__text {
    padding-top: 2px;

    @include onDesctop {
      padding-top: 3px;
    }
  }
}
