@import "../../styles/utils/mixins.scss";

.home-page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;

  &__title {
    padding: 24px 16px;

    @include onTablet {
      padding: 32px 24px;
    }

    @include onDesctop {
      padding: 56px 32px;
    }
  }

  // &__banner {
  //   @include onTablet {
  //     padding: 0 24px;
  //   }
  // }

  &__brand-new {
    padding: 56px 0 0;

    @include onTablet {
      padding: 64px 0 0 8px;
    }

    @include onDesctop {
      padding: 80px 16px 0;
    }
  }

  &__category {
    padding: 56px 16px;

    @include onTablet {
      padding: 0 24px;
    }

    @include onDesctop {
      padding: 0 32px;
    }
  }

  &__hot-price {
    padding: 56px 0 64px;

    @include onTablet {
      padding: 56px 0 0 8px;
    }

    @include onDesctop {
      padding: 56px 16px 16px;
    }
  }
}
